.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 80px;
  }
  
  .card {
    height: 260px;
    border-radius: 18px;
    background-size: cover;
    position: relative;
    color: white;
    padding: 30px;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(2, 6, 23, 0.75);
  }
  
  .card * {
    position: relative;
  }
  
  .fleet {
    background-image: url("https://www.merchantsfleet.com/wp-content/uploads/2024/10/Merchant-Fleet-Management.jpg");
  }
  
  .drivers {
    background-image: url("https://images.ctfassets.net/bx9krvy0u3sx/55bHVOmYA7S0IzYl2P8hPx/2228f3f1cf449283766970f2e31e521b/Research_blog_3.jpg");
  }
  
  .service {
    background-image: url("https://www-europe.nissan-cdn.net/content/dam/Nissan/nne/Ownership/Nissan-Servies-Contract-Desktop-2500x1267.jpg");
  }
  