.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #020617;
  }
  
  .header h1 {
    color: #e5e7eb;
    font-size: 24px;
  }
  
  .header ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  
  .header li {
    cursor: pointer;
    transition: 0.3s;
  }
  
  .header li:hover {
    color: #38bdf8;
  }
  
  .header-buttons {
    display: flex;
    gap: 15px;
  }
  
  .dropdown-button {
    background: #1e293b;
    color: white;
  }
  
  .login-button {
    background: #38bdf8;
    color: #020617;
  }
  
  button {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.1);
  }
  